<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Boring To-Do Application</title>
</head>

<body>
    <header>
        <h1>Boring To-Do Application</h1>
    </header>

    <div id="main-container">
        <h2>Tasks</h2>
        <ul>
        {% for task in tasks%}
            <li>{{ task.description }}<i>, created {{ task.date_created }}</i></li>
        {% empty %}
            <li>All clear, enjoy!</li>
        {% endfor %}
        </ul>
    </div>
    
</body>
</html>