{% extends "core/base.html" %}
{% load humanize %}

{% block page_title %}{{ block.super }} | Pending Tasks{% endblock %}
{% block header %}Amazing To-Do{% endblock %}

{% block main_container %}

    <div class="row">
        <div class="col-lg-9">
            <form class="form-horizontal" action="{% url 'create_task' %}" method="post" id="newtask-form">
                <div class="form-group">
                    {% csrf_token %}
                    {% if form.non_field_errors or form.description.errors %}
                    <div class="alert alert-dismissable alert-danger">
                        {{ form.non_field_errors.as_text }}
                        {{ form.description.errors.as_text }}
                    </div>
                    {% endif %}
                    <input class="form-control" id="id_description" type="text" name="description" placeholder="{{ form.description.label }}">
                    <input class="btn btn-primary" type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Pending Tasks</h3>
        {% for task in tasks%}
            <div class="row">
                <div class="col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-post-url="{% url 'complete_task' task.pk %}">{{ task.description }}
                            <em>, created {{ task.date_created|naturalday }}</em>
                        </label>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <div class="col-lg-9">
                    <p>All clear, enjoy!</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js_bottom_extra %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('body').on('click', 'input[type=checkbox]', function() {
            $.ajax({
              type: "POST",
              url: $(this).data("post-url"),
              success: function(response) {
                // reload if success
                window.location = "/";
              },
              error: function(response) {
                alert("Something went wrong. Please, call 911.");
              }
            });
        });
    });
    </script>
{% endblock %}