{% extends "core/base.html" %}
{% load humanize %}

{% block page_title %}{{ block.super }} | Pending Tasks{% endblock %}
{% block header %}Boring To-Do{% endblock %}

{% block main_container %}

    <form action="/create/" method="post" id="newtask-form">{% csrf_token %}
        <input id="description" type="text" name="description" value="{{ form.description.value|default:"" }}" placeholder="{{ form.description.label }}">
        <input type="submit" value="Add">
    </form>

    <h3>Pending Tasks</h3>
    <ul>
    {% for task in tasks%}
        <li>
            <form action="/complete/{{ task.pk }}/" method="post" id="completetask-{{ task.pk }}-form">
                {% csrf_token %}
                <input type="submit" value="done" />
                {{ task.description }}<i>, created {{ task.date_created|naturalday }}</i>
            </form>
        </li>
    {% empty %}
        <li>All clear, enjoy!</li>
    {% endfor %}
    </ul>
{% endblock %}